<style>
  table.output tbody td:nth-child(1){
    width: 110px;
  }
  table.output tbody td:nth-child(2){
    width: 110px;
  }
  table.output tbody td:nth-child(3){
    width: 110px;
  }
  table.output tbody td:nth-child(4){
    width: 130px;
  }
  table.output tbody td:nth-child(5){
    width: 100px;
  }
  table.output tbody td:nth-child(6){
    width: 130px;
    text-align: right;
  }
  table.output tbody td:nth-child(7){
    width: 160px;
    text-align: right;
  }
  table.output tbody td:nth-child(8){
    width: 100px;
    text-align: right;
  }
  table.output tbody td:nth-child(9){
    width: 100px;
    text-align: right;
  }
  table.output tbody td:nth-child(10){
    text-align: right;
    width: 100px;
  }
  table.output tbody td:nth-child(11){
    width: 100px;
    text-align: right;
  }
  table.output tbody td.to_right{
    text-align: right;
  }
</style>
<h3>By Mortgage Type</h3>


<%= render partial: 'excel_files/shared/sub_report', locals: {report_name:'Non Conforming Loans', loan_arr: @non_conf_open} %>

<%= render partial: 'excel_files/shared/sub_report', locals: {report_name:'CLOSED Non Conforming Loans', loan_arr: @non_conf_closed} %>


<%= render partial: 'excel_files/shared/sub_report_total', locals: {xnma_15_opn: [], xnma_15_clsd: [], xnma_open: @non_conf_open, xnma_closed: @non_conf_closed} %>

