<div class="btn btn-lg"><%= link_to('Full Pipeline', excel_file_total_pipeline_path) %></div>

<div class="btn btn-lg"><%= link_to('FNMA Mortgages', excel_file_fnma_type_path) %></div>

<div class="btn btn-lg"><%= link_to('GNMA Mortgages', excel_file_gnma_type_path) %></div>

<div class="btn btn-lg"><%= link_to('Non Conforming Mortgages', excel_file_non_conforming_type_path) %></div>
