<div class="btn btn-lg"><a href="<%= excel_file_total_pipeline_path %>">Full Pipeline</a></div>

<div class="btn btn-lg"><a href="<%= excel_file_fnma_type_path %>">FNMA Mortgages</a></div>

<div class="btn btn-lg"><a href="<%= excel_file_gnma_type_path %>">GNMA Mortgages</a></div>

<div class="btn btn-lg"><a href="<%= excel_file_non_conforming_type_path %>">Non Conforming Mortgages</a></div>
