<dev class="welcome-envelope">
  <dev class="step">
    <h4>
      <%= link_to('Upload Pricing Sheet', new_wells_fargo_price_sheet_path) %>
    </h4>
  </dev>
  <dev class="step">
    <h4>
      <%= link_to('Upload SRP Sheet', new_wells_fargo_srp_sheet_path) %>
    </h4>
  </dev>
  <dev class="step">
    <h4>
      <%= link_to('Upload Mortgage List', new_excel_file_path) %>
    </h4>
  </dev>
</dev>




